@import '../../../styles/main.scss';

.button {
    width: 180px;
    border: 0;
    background-color: $btn-bgr-color;
    box-shadow: 2px 5px 0 $btn-shadow-color;
    color: $color-white;
    border-radius: 3px;
    font-size: $fs-small;
    margin: 0;
    padding: 12px 20px;
    cursor: pointer;
    transition: all .1s linear;

    &:hover {
        background-color: $btn-bgr-color-hover;
    }

    &:active {
        box-shadow: 2px 2px 0 $btn-shadow-color-hover;
        transform: translateY(3px);
    }
}