@import '../../../styles/main.scss';

.button {
    @include button ($btn-bgr-color-hover,  rgb(145, 182, 249));
    background-color: $btn-bgr-color;
    color: $color-white;
    font-size: $fs-small;
    margin: 0;
    padding: 12px 20px;
    cursor: pointer; 
}