@import '../../../styles/main.scss';

.add-form {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   padding: 200px 60px 100px 60px;

   button {
      margin-top: 10px;
   }
}

@media screen and (max-width: 1000px){
   .add-form {
      padding: 200px 40px 100px 40px;
   }
}

@media screen and (max-width: 800px) {
   .add-form {
      padding: 40px;
      margin: 0 40px;
   }
}

@media screen and (max-width: 600px) {
   .add-form {
      width: 80%;
   }
}
