@import '../../../styles/main.scss';

.add-form {
   padding: 40px 10px;
   display: flex;
   flex-direction: column;

   .button {
      margin-top: 20px;
   }
}

@media screen and (max-width: 800px) {
   .add-form {
      width: 60%;
      margin: 0 auto;
      padding: 20px;
   }
}

@media screen and (max-width: 600px) {
   .add-form {
      width: 80%;
   }
}

@media screen and (max-width: 500px) {
   .add-form {
      padding: 0;
   }
}