@import '../../../styles/main.scss';

.add-form .add-form__input {
    font-size: 1.2rem;

    label {
        display: block;
        font-size: $fs-smaller;
        color: $inp-label-color;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0.35rem;
    }

    input {
        display: block;
        font: inherit;
        width: 100%;
        padding: 0.5rem;
        border-radius: 6px;
        border: 1px solid $inp-border-color;
        background-color: $inp-bgr-color;
        margin-bottom: 1rem;
        color: $inp-border-color;
    }
}

.add-form.error .add-form__input {
    input::placeholder {
        color: $color-card-magenta;
    }
}

@media screen and (max-width: 500px) {
    .add-form .add-form__input {
        font-size: $fs-small;
    }
}