@import '../../styles/main.scss';

.form {
    box-shadow: 25px -3px 17px -19px rgba(0, 0, 0, 0.45);
    position: relative;

    &.expanded {
        .add-form {
            visibility: visible;
            opacity: 1;
            transition: visibility 0.1s linear 0.3s;
            transition: opacity 0.5s linear 0.3s;
        }
    }

    &.collapsed {
    
        .add-form {
            visibility: hidden;
            opacity: 0;
        }
    }

    svg {
        font-size: 30px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-2%, -50%);
        cursor: pointer;
    }
}

// TODO: rotate down the shadow and arrows