@import '../../styles/main.scss';

.timers-wrapper {

    li {
        width: 200px;
        height: 150px;
        background: $color-bgr-timer;
        color: $color-mid-blue;
        box-shadow: $box-shadow;
        border-radius: 6px;

        display: grid;
        grid-template-rows: repeat(2, 3fr 1fr);
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: auto;

        position: relative;
        left: 100px;
        opacity: 0;
        animation: add-timer 0.5s linear 0.2s forwards;

        h2 {
            @include header($fs-mid);
            font-family: $font-first;
        }

        p {
            font-size: $fs-small;
            color: $color-white;
            margin: 0;
            text-align: center;

            progress[value] {
                --color: linear-gradient(#fff8, #fff0),
                    repeating-linear-gradient(135deg, #0003 0 10px, #0000 0 20px), #519813;
                --background: #FFF;

                display: inline-block;
                height: 8px;
                border-radius: 10em;
                background: var(--background);
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;
                border: none;

                &::-webkit-progress-bar {
                    border-radius: 10em;
                    background: var(--background);
                }

                &::-webkit-progress-value {
                    border-radius: 10em;
                    background: var(--color);
                }

                &::-moz-progress-bar {
                    border-radius: 10em;
                    background: var(--color);
                }

            }
        }

        p:nth-child(2) {
            font-size: $fs-small;
        }

        p:nth-child(3) {
            font-size: $fs-mid;
        }

        .timers-btn {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1px;

            button {
                background-color: $btn-bgr-color;
                color: $color-white;
                font-family: $font-first;
                font-size: $fs-smaller;
                cursor: pointer;
                width: 50px;

                @include button($btn-bgr-color-hover, $color-white);

                svg {
                    font-size: 16px;
                    margin-top: 2px;
                }

                &.stop {
                    background-color: $btn-bgr-red-color;
                    &:hover {
                        background-color: $btn-bgr-red-color-hover;
                    }
                }

                &.start {
                    background-color:$btn-bgr-green-color;
                    &:hover {
                        background-color:$btn-bgr-green-color-hover;
                    }
                }

                &[disabled] {
                    opacity: 0.5;
                    transform: unset;
                }
            }
        }
    }
}

@keyframes add-timer {
    0% {
        left: 100px;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        left: 60px;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .timers-wrapper .timers-list {
        grid-template-columns: repeat(2, 1fr);

        li article {
            h2 {
                @include header($fs-small);
            }

            p,
            p:nth-child(3) {
                font-size: $fs-smaller;
            }

            p:nth-child(2),
            p:nth-child(4) {
                font-size: $fs-small;
            }
        }
    }
}

@media screen and (max-width: 500px) {

    .timers-wrapper .timers-list {
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0 auto;

        li article {
            h2 {
                @include header($fs-smallest);
            }

            p,
            p:nth-child(3) {
                font-size: $fs-smallest;
            }

            p:nth-child(2) {
                font-size: $fs-smallest;
            }
        }
    }
}