@import '../../styles/main.scss';

.main {
    width: auto;
    .timers {
        margin: 40px 30px;
    }
    
    &.expanded {
        width:100%;
    }
}

.timers-wrapper {
    position: relative;
    left: 0;
    transition: left 0.5s linear;

    .timers-list {
        @include timers-list;
        grid-template-columns: repeat(2, 1fr);
        transition: grid-template-columns 0.5s linear 0.3s;
        position: relative;
    }
}

.timers-wrapper.expanded {
    left: -2%;

    .timers-list {
        @include timers-list;
        grid-template-columns: repeat(4, 1fr);
    }
}

.timers-buttons {
    margin: 11px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2%;

    button[disabled] {
        opacity: 0.5;
        transform: unset;
    }
}

.no-timers {
    @include header(1.2em);
    h2 {
        font-size: $fs-small;
        margin:0;
    }
}

@media screen and (max-width: 1000px) {
    .timers-wrapper {
        margin: 0 auto;
    }

    .timers-list {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media screen and (max-width: 800px) {
    .timers-list {
        grid-template-columns: repeat(3, 1fr);
    }
}