@import '../../styles/main.scss';

.timers-list {
    font-family: $font-second;
    background-color: $btn-bgr-color;
    list-style: none;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 10rem));
    border: 2px solid $color-white;
    justify-content: space-around;
    @include component-layout;

    li {
        background: $color-bgr-timer;
        color: $color-mid-blue;
        box-shadow: $box-shadow;
        padding: 1rem;
        border-radius: 6px;
    }

    p {
        text-align: center;
        color: $color-white;
        margin:0;
        font-size: $fs-small;
    }

    p:nth-child(3) {
        font-size: $fs-mid;
    }

    p:nth-child(4) {
        color: $color-mid-blue;
        font-family: $font-first;
        font-size: $fs-smaller;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        span:hover {
            color: $color-white;
            transform: scale(1.1);
        }
    }

    h2 {
        @include header($fs-mid);
        font-family: $font-first;
    }
}

.no-timers {
    flex-basis: 70%;
    @include header(2em)
}