@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap');
@import '../src/styles/index.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $color-bgr;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

#root {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 2rem;
  background: $color-dashboard;
  border-radius: 8px;
  box-shadow: $box-shadow;
  color: $color-white;
}
