@import '../src/styles/main.scss';

* {
  box-sizing: border-box;
}

h1,
article {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: $color-bgr;
}

#root {
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

.container {
  max-width: 60rem;
  margin: 3% auto;
  background: $color-dashboard;
  color: $color-white;
  border-radius: 8px;
  box-shadow: $box-shadow;
  overflow-y: auto;
}

.main {
  display: grid;
  grid-template-columns: 2fr 2.5fr;
  transition: grid-template-columns 0.5s linear;
  justify-content: space-around;

  &.expanded {
    grid-template-columns: 45px 930px;

    .timers {
      margin: 0 15px 15px 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .main {
    &.expanded {
      grid-template-columns: 45px 900px;

      .timers {
        margin: 0 60px 15px 60px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    margin-inline: 3%;
  }

  .main {
    &.expanded {
      grid-template-columns: 45px 850px;
      grid-gap: 0.9em;

      .timers {
        margin: 0 60px 15px 60px;
      }
    }
  }
}


@media screen and (max-width: 900px) {
  .main {
    &.expanded {
      grid-template-columns: 45px 750px;
      grid-gap: 0.8em;

      .timers {
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 860px) {

  .main,
  .main.expanded {
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 3em;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0;
    border-radius: unset;
    min-height: 100vh;
  }

  .main,
  .main.expanded {
    min-height: 80vh;
    grid-template-columns: 1fr;
  }

  .main {
    margin: 0;
    grid-gap: 5%;
  }
}