@import '../src/styles/main.scss';

* {
  box-sizing: border-box;
}

h1,
article {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: $color-bgr;
}

#root {
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  position: relative;
  min-height: 92vh;
}

.container {
  max-width: 60rem;
  margin: 3% auto;
  background: $color-dashboard;
  color: $color-white;
  border-radius: 8px;
  box-shadow: $box-shadow;
  position: relative;
  top: 20%;
}

.main {
  min-height: 85vh;
  display: grid;
  grid-template-columns: 2fr 3fr;
  transition: grid-template-columns 0.5s linear;
  justify-content: space-around;
  position: relative;

  &.expanded {
    grid-template-columns: 45px 900px;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    &.expanded {
      grid-template-columns: 45px 850px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    margin-inline: 3%;
  }

  .main {
    &.expanded {
      grid-template-columns: 45px 750px;
      grid-gap: 0.9em;
    }
  }
}


@media screen and (max-width: 900px) {
  .main {
    &.expanded {
      grid-template-columns: 45px 700px;
      grid-gap: 0.8em;
    }
  }
}

@media screen and (max-width: 860px) {

  .main,
  .main.expanded {
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 0.6em;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0;
    border-radius: unset;
  }

  .main,
  .main.expanded {
    grid-template-columns: 1fr;
  }

  .main {
    min-height: 92vh;
    margin: 0;
  }
}